header{
  width: 1050px;
  height: 100px;
  background-color: #0D7964;
  border: 1px solid red;
  margin: auto;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
}
main{
  width: 1050px;
  height: 520px;
  border: 1px solid red;
  margin: auto;
  margin-bottom: 10px;
}
aside{
  width: 350px;
  height: 520px;
  background-color: #0D7964;
  border: 1px solid red;
  float: left;
  margin-right: 10px;
  color: #fff;
  text-align: center;
}
section{
  width: 686px;
  height: 520px;
  background-color: #0D7964;
  border: 1px solid red;
  float: left;
  color: #fff;
  text-align: center;
}
footer{
  width: 1050px;
  height: 75px;
  background-color: #0D7964;
  border: 1px solid red;
  margin: auto;
  color: #fff;
  text-align: center;
}
div{
  font-weight: bold;
  font-size: 25px;
}